<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header"><app-calc-result></app-calc-result></h5>
      <div class="card-body">
        <app-calc-buttons></app-calc-buttons>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>

